body {
    background-color: lightgray;
  }
  th {
    font-family: 'Calibri';
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;
  }

h1 {
  color: purple;
  font-family: 'Calibri';
  font-size: 50px;
  margin: 0.5em 0 0.4em 0;

}
tabel {
  margin: auto;
}
hr {
  border-style: dashed none none none;
  border-width: 6px;
  width: 50%;
}
td{
  font-family: 'Calibri';
  font-size: 18px;
  text-align: center;
  padding-left: 25px;
}
#newYear{
  color: white;
  background-color: green;
  border-radius: 10%;
}
#valentines{
  color: white;
  background-color: red;
  border-radius: 10%;
}
#memorialday{
  color: white;
  background-color: blue;
  border-radius: 10%;
}
#laborday{
  color: white;
  background-color: plum;
  border-radius: 10%;
}
#christmass{
  color: white;
  background-color: brown;
  border-radius: 10%;
}
#independeceday{
  color: white;
  background-color: darkred;
  border-radius: 10%;
}
#columbusday{
  color: white;
  background-color: blueviolet;
  border-radius: 10%;
}
h1:hover{
  background-color: palevioletred;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 